<?xml version="1.0"?>

<appSettings>
	<add key="SQLCommandTimeout" value="600" />

	<!--Api Keys-->
	<add key="api_name" value="Trepup" />
	<add key="api_username" value="trepup.a(4e{.SWE}pG" />
	<add key="api_password" value="BwS3R{b*V66gqRn]!rZ6@#EYD$8fqL" />
	<add key="api_allowed_origin" value="*" />
	<add key="api_referrals" value="*" />
</appSettings>